* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Noto Sans", sans-serif;
    font-size: 28px;
    color: #000;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.circle-container {
    width: 50%;
    display: grid;
    place-items: center;
}

.circular-progress__hidden{
	display: none;
}

.circular-progress {
    height: 350px;
    width: 350px;
    position: relative;
    transform: translateX(35%);
    border-radius: 50%;
    display: grid;
    place-items: center;
	background: conic-gradient(
      #015afb 0deg,
      #eef2f5 0deg
   );
}

.circular-progress:before {
    content: "";
    position: absolute;
    height: 85%;
    width: 85%;
    background-color: #fff;
    border-radius: 50%;
}

.buttons-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: stretch;
}


.buttons-container > div {
    display: flex;
	/* transform: translateX(-65%); */
    margin-bottom: 35px;
	align-items: center;
}

.value-input:before {
    content: "";
}

input + label {
    margin-right: 50px;
}

input[type="checkbox"] {
    height: 0;
    width: 0;
    margin: 0;
    visibility: hidden;
}

input[type="text"] {
    font-family: "Noto Sans", sans-serif;
    width: 90px;
    height: 50px;
    font-size: 28px;
    background: #fff;
    text-align: center;
    display: block;
    border: 2px solid #000;
    border-radius: 50px;
    position: relative;
}

input[type="text"]::placeholder{
	color: #dce7f0;
}

input[type="checkbox"] + label {
    cursor: pointer;
    width: 90px;
    height: 50px;
    background: #dce7f0;
    display: block;
    border-radius: 50px;
    position: relative;
}

input[type="checkbox"] + label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s;
}

input:checked + label {
    background: #015afb;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
